In [1]:
calon_anggota = [
    { 
        'nama': "Entong",
        'jml_tabungan': 12000,
        'usia': 16
    },
    {
        'nama': "Eneng",
        'jml_tabungan': 10000,
        'usia': 17
    },
    {
        'nama': "Bobby",
        'jml_tabungan': 9000,
        'usia': 25
    },
    {
        'nama': "Amir",
        'jml_tabungan': 15000,
        'usia': 26
    },
    {
        'nama': "Eneng",
        'jml_tabungan': 9900,
        'usia': 23
    }
]

for x in calon_anggota:
    if x['jml_tabungan'] >= 10000:
        if x['usia'] >= 17 and x['usia'] <= 25:
            print(x['nama'], " - Lolos")
        else:
            print(x['nama'], "- Gagal, usia tidak memenuhi tidak memenuhi kriteria")
    else:
        print(x['nama'], "- Gagal, jumlah tabungan perbulan tidak memenuhi tidak memenuhi kriteria")

Entong - Gagal, usia tidak memenuhi tidak memenuhi kriteria
Eneng  - Lolos
Bobby - Gagal, jumlah tabungan perbulan tidak memenuhi tidak memenuhi kriteria
Amir - Gagal, usia tidak memenuhi tidak memenuhi kriteria
Eneng - Gagal, jumlah tabungan perbulan tidak memenuhi tidak memenuhi kriteria

In [1]:
print ('Hello')
print ("Dunia")

Hello
Dunia

In [2]:
print ('Luas = panjang * lebar')

Luas = panjang * lebar

In [3]:
print ('Volume = panjang * lebar * tinggi')

Volume = panjang * lebar * tinggi

In [4]:
nama_hari = ['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum`at', 'Sabtu', 'Minggu']

print (nama_hari)

['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum`at', 'Sabtu', 'Minggu']

In [5]:
usia = 21

if usia >= 18:
    print('usia memenuhi syarat')
    print('Dapat mengambil KTP')
else:
    print('Belum cukup umur')
    print('tunggu ', 18 - usia, ' tahun lagi')

usia memenuhi syarat
Dapat mengambil KTP

In [6]:
namaDepan = 'Wibisana'
namaBelakang = "Putra"
alinea = """"Berikut ini adalah alinea 
yang terdiri dari beberapa baris"""

print (namaDepan)
print (namaBelakang)
print (alinea)

Wibisana
Putra
"Berikut ini adalah alinea
yang terdiri dari beberapa baris

In [8]:
luas1 = 15 * 7

print (luas1)

luas2 = 15 * 15
#Print (luas2)
#PRINT (luas2)
print (luas2)

105
225

In [9]:
#panjang * lebar
panjang = 15
lebar = 3
luas = panjang * lebar

print (luas)

45